@model IEnumerable<BanHang.Models.Category>

@if (Model != null && Model.Any())
{
    <ul class="navbar_menu" style="font-family: 'SVN-Gilroy', sans-serif;font-weight:bold;">
        @foreach (var item in Model)
        {
            if (item.Alias.Equals("trang-chu"))
            {
                item.Alias = "";
            }
            
            <li><a href="/@item.Alias" style="font-weight:700;">@item.Title</a></li>
        }

        @*<li><a href="#">shop</a></li>
            <li><a href="#">promotion</a></li>
            <li><a href="#">pages</a></li>
            <li><a href="#">blog</a></li>
            <li><a href="contact.html">contact</a></li>*@
    </ul>
}